<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
        

    <title>Blog</title>
  </head>
  <body>    

    <div class='container'>
    <p>{{ post }}</p>
    
    Filtrar por categorias del blog: 
    {% for p in categoria %}<a class='text-decoration-none badge badge-primary text-wrap' href="{% url 'categoria' p.id %}"> {{p}} (id = {{p.id}})</a> {% endfor %}

   
    {% comment %} Categorias del blog: {% for p in post %}{% for f in p.categorias.all %}{{ f.nombre }} {% endfor %}{% endfor %} {% endcomment %}

    {% for p in post %}
    
        <h1 class='text-uppercase'>{{ forloop.counter }}. {{p.titulo}}</h1>
        <p class="display-1">{{ p.categorias.nombre }}</p>
        <img src="{{p.imagen.url}}" style='width:30%;'>

        <p class='text-secondary'>{{ p.contenido }}</p>

            
        
        {% comment %} para poder accedera a la entidad con la que se relaciona hay que hacer un bucle nuevamente selccionando todos los elmeentos p.categotiras.all {% endcomment %}
        <p class='badge badge-primary text-wrap'> Autor: {{ p.autor }} / Fecha creacion: {{ p.creacion}}  / Categoria: {% for f in p.categorias.all %}  {{f.nombre}} {% comment %}. id / identificador: {{f.id}} (f.id) {% endcomment %} {% endfor %}</>

  
    {% endfor %}


  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <body>    

  </html>

