<html>
    <head>

        <title>Contactar</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
        
    </head>
    <body>
        <h1>Contactanos</h1>
        <!--method='GET' se envia utilizando la url del navegador como medio de transporte -->
        <!-- tenemos que decir django registre la url y tmb hay que crear una vista que nos lleve a este formulario (url) -->
        <!-- la accion (action) es ir a una url no definida -->
        <!-- necesitamos una vista (views) que nos diga que si la informacion llega o no al servidor -->
        <!-- POST enviar -->
        <div class="container p-3">
            

            <form action="/contacto/" method="POST">{% csrf_token %}
                <p>asunto: <input type="text" name="asunto"></p>
                <p>Email: <input type="text" name="Email"></p>
                <p>Mensaje: <textarea name="Mensaje" rows="15" cols="45"></textarea></p>
                <input type="submit" value="Enviar">
            </form>
            
        </div>
        
    
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    

</html>